USE [Staging]
GO
/****** Object:  Table [dbo].[GenerationData]    Script Date: 6/21/2024 2:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenerationData](
	[DataId] [int] IDENTITY(1,1) NOT NULL,
	[DT] [datetime] NOT NULL,
	[GeneratedMW] [float] NOT NULL,
	[Actual] [bit] NOT NULL,
 CONSTRAINT [PK_GenerationData] PRIMARY KEY CLUSTERED 
(
	[DataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GenerationData] ON 

INSERT [dbo].[GenerationData] ([DataId], [DT], [GeneratedMW], [Actual]) VALUES (3, CAST(N'2024-06-10T00:00:00.000' AS DateTime), 6449, 1)
INSERT [dbo].[GenerationData] ([DataId], [DT], [GeneratedMW], [Actual]) VALUES (4, CAST(N'2024-06-10T01:00:00.000' AS DateTime), 6478, 1)
INSERT [dbo].[GenerationData] ([DataId], [DT], [GeneratedMW], [Actual]) VALUES (5, CAST(N'2024-06-10T02:00:00.000' AS DateTime), 6554, 1)
GO
SET IDENTITY_INSERT [dbo].[GenerationData] OFF
GO
